*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
ul{
    display:flex;
    justify-content: flex-end;
    background-color: grey;
    li{
        padding: 10px;
        text-transform:capitalize;
    }
    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            color: red;
        }
    }
}