*{
    margin: 0%;
    padding: 0%;
}

ul{
    list-style: none;
    background-color: grey;
}

ul.parent{
    display: flex;
    justify-content: center;
    padding: 10px;
li{
    position: relative;
    a{
        padding: 5px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        &:hover{
            color: red;
        }
    }
    ul{
        position:absolute;
        display: none;
        background-color: grey;
        width: 150px;
        top: 40px;
    }
    &:hover{
        ul{
            display: block;
        }
    }
}

